{% extends "base.html" %}
{% block content %}
<div class="container-xl mt-4 mb-4">
  <h2 class="mb-4">Subjects</h2>
  <div class="d-flex flex-column align-items-left">
    {% for subj in course.subjects %}
      {% set border_color = "#888" %}
      {% if 'math' in subj.name.lower() %}
        {% set border_color = "#55d353" %}
      {% elif 'physic' in subj.name.lower() %}
        {% set border_color = "#46c9f8" %}
      {% elif 'chem' in subj.name.lower() %}
        {% set border_color = "#fcba40" %}
      {% endif %}
      <div class="mb-4 d-flex justify-content-center" style="width: 1300px;">
        <a href="{{ url_for('subject', subject_id=subj.id) }}" style="text-decoration:none;width:100%;">
          <div style="
            background: #fff;
            border-radius:20px;
            border-top: 8px solid {{ border_color }};
            box-shadow:0 2px 14px #c2ecfc27;
            width:100%;
            min-height:230px;
            padding:0;
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content:flex-start;
            transition: box-shadow .2s;
          " onmouseover="this.style.boxShadow='0 8px 36px #acadf233'" onmouseout="this.style.boxShadow='0 2px 14px #c2ecfc27'">
            <img src="{{ url_for('static', filename=subj.name|lower ~ '.jpg') }}" alt="{{subj.name}}" style="width:480px; height:180px; object-fit:cover; margin-bottom:13px; border-radius:13px;">
            <span style="font-size:1.2rem; font-weight:750; color:#222; margin-top:2px;">{{ subj.name }}</span>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
